.marble_board {
	background-image: url("/bluemarble/board/b1.jpg");
	background-repeat: no-repeat;
	background-position: center top;
	background-size: 100%;
	border-radius: 15px;
	box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.4);
	padding-bottom: 1px;
	background-color: #669900;
}

td:hover  {
	box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.6);
	background: rgba(0, 191, 255, 0.2);
	border-radius: 15px;
}

.horses{
	font-size: xx-large;
}
.td_tb{
	padding-top: 58px !important;
}
.td_rl{
	padding-top: 30px !important;
}

.no_border {
	border: none !important;
}

.boaard_floor {
	background: lightblue;
}

.no_hover{
	visibility: hidden;
}