.marble_board {
	background-image: url("/bluemarble/board/b1.jpg");
	background-repeat: no-repeat;
	background-position: center top;
	background-size: 100%;
	box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.4);
}
td:hover  {
	box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.6);
	background: rgba(204, 230, 255, 0.2);
}

.td_tb{
	padding-top: 58px !important;
}
.td_rl{
	padding-top: 30px !important;
}

.no_border {
	border: none !important;
}

.boaard_floor {
	background: lightblue;
}

.interface{
 
}